body {
    background-color: rgb(31, 33, 36);
}

#arithmetic {
    display: block;
    margin: 0 auto;
    text-align: center;
    width: 95%;
    height: 3vh;
    background-color: rgb(78, 180, 75);
}

.num {
    width: 90px;
    height: 35px;
}

.color {
    position: absolute;
}
#gray {
    bottom: 90px;
    margin-left: 40px;
}
#white {
    bottom: 50px;
    margin-left: 40px;
}
