body {
    background-color: rgb(31, 33, 36);
}

#arithmetic {
    display: block;
    margin: 0 auto;
    text-align: center;
    width: 90%;
    height: 3vh;
    background-color: rgb(78, 180, 75);
}
